@import url("");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-10-2016, 17:34:45
    Author     : Michael
*/
html, body, div, h1, h2, h3, span, authors, class, group, readPersons, Personhdr, headtr, tabletd, table, thead, tr, td, tbody, Persons, bodytr, tablebtd, edit, delete, section, buttons, input, button, givenHobby, givHobGet, givenCity, givCityGet, COPWH, givCoHobGet, personId, byIdGet, pInfoId, byInfoIdGet, createPerson, strong, CEmail, CFirstName, CLastName, CHobbyName, CPhoneNumber, CStreet, create, section2, zipCodes, zipGet, zips, ol, li, companiesEmp, comGet, companies {
    
    font-size: 105%;
    
}

html, body {
    height: 40%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.datacontainer {
    border : 1px solid black;
}

.tabletd, .tablebtd {
    border : 1px solid black;
    padding : 10px;
}

#section{
    border-top: 1px solid black;
}

.buttons{
    float: left;
    padding-left: 1cm;
}

#createPerson{
    float: left;
    padding-left: 3cm;
}

.zipCodes{
    float: left;
    padding-top: 2cm;
    padding-left: 1.5cm;
}

.zips{
    padding-right: 1cm;
    list-style-position: inside;
}

.companiesEmp{
    float: right;
    padding-top: 2cm;
    padding-left: 1cm;
}

.companies{
    padding-right: 1cm;
    list-style-position: inside;
}